.search-results {
    padding-top: rem-calc(80);
    @include breakpoint(medium down) {
        padding-top: rem-calc(30)
    }
    .load-more {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-top: rem-calc(40);
    }
    .button {
        margin-top: rem-calc(40);
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .articles-list--helper .heading {
        margin: 0;
    }
}