//
//	SETTINGS
//	you should set it before start project
//

// Layout
$global-width: 1300px;
$global-width-wider: 1315px;
$global-radius: 0px;
$wrapperPercentWidth: 92%; // (if you use wrapper boxed layout)
$wrapperPercentWidthWider: 97%; // (if you use wrapper boxed layout)

// Typography
$body-font-color: #808080;
$global-font-size: 16px;
$global-weight-normal: 400;
$global-weight-bold: 700;
$global-lineheight: 1.625;
$body-font-family: 'Cormorant Garamond', sans-serif;
$base-font-family: $body-font-family;
$second-font: 'Roboto', sans-serif;

$header-styles: (
        small: (
                'h1': ('font-size': 24),
                'h2': ('font-size': 20),
                'h3': ('font-size': 19),
                'h4': ('font-size': 18),
                'h5': ('font-size': 17),
                'h6': ('font-size': 16),
        ),
        medium: (
                'h1': ('font-size': 48),
                'h2': ('font-size': 40),
                'h3': ('font-size': 31),
                'h4': ('font-size': 25),
                'h5': ('font-size': 20),
                'h6': ('font-size': 16),
        ),
);

// Colors
$theme: #1a3958;
$theme-light: #3D87CC;
$theme-violet: #895b9f;
$theme-dark: #4e4d50;
$theme-darkest: #000000;
$theme-hover: lighten($theme, 15%);
$medium-gray: #e2e2e2; // input
$dark-gray: #92929a; //input:focus
$foundation-palette: (
        primary: $theme,
        secondary: #152e46,
        success: #81ab2f,
        warning: #F44336,
        info: #626b79,
        alert: #F44336,
);
$black: #1a1a1a;
$white: #fff;

// Breakpoints
$breakpoint-classes: (small phone medium tablet large xlarge);

$breakpoints: (
        small: 0,
        phone: 450px,
        medium: 640px,
        tablet: 768px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
);

//
//  BORDER RADIUS
//
$global-radius: 0px;

//
//  HAMBURGER
//
$hamburger-layer-color: $theme;
$hamburger-layer-width: 18px;
$hamburger-layer-height: 2px;
$hamburger-layer-border-radius: none;
$hamburger-layer-spacing: 4px;
$hamburger-padding-x: 8px;
$hamburger-padding-y: 2px;

//
//  FORMS
//
$input-shadow: none;
$input-box-shadow: 0;
$input-shadow-focus: 0;
$input-placeholder-color: #9c9c9c;
$input-color: #9c9c9c;
$input-font-size: 1rem;
$select-triangle-color: $theme;

//
//  PAGINATION
//
$pagination-arrows: false;
$pagination-radius: 0;
$pagination-item-color-current: #171717;
$pagination-item-background-current: #fff;
$pagination-item-background-hover: transparent;

// breadcrumb

$breadcrumbs-item-separator-item: '\EA05';

// xy-grid
$grid-margin-gutters: 55px;