.counter {
	padding-top: rem-calc(100);
	@include breakpoint(tablet down) {
		padding-top: rem-calc(40);
	}
	@include breakpoint(phone down) {
		padding-top: rem-calc(10);
	}
	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(tablet down) {
			flex-wrap: wrap;
		}
		.one {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 33.3333333%;
			height: rem-calc(300);
			color: $theme;
			position: relative;
			@include breakpoint(tablet down) {
				width: 100%;
				margin: rem-calc(15);
			}
			@include breakpoint(phone down) {
				margin: rem-calc(5);
			}
			&-back {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
				&-image {
					display: block;
					width: 100%;
					height: 100%;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					@keyframes shake {
						0% {
							transform: rotate(0deg);
						}
						20% {
							transform: rotate(-2deg);
						}
						40% {
							transform: rotate(2deg);
						}
						60% {
							transform: rotate(-2deg);
						}
						80% {
							transform: rotate(2deg);
						}
						100% {
							transform: rotate(0deg);
						}
					}

				}

				.line {
					display: block;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					width: rem-calc(250);
					height: rem-calc(250);
					transform-style: preserve-3d;

					//global size
					$ellipse: rem-calc(10);

					//global time
					@for $i from 1 through 4 {
						&:nth-child(#{$i}) {
							animation-duration: $i + s !important;
						}
					}

					//global keyframe
					@keyframes line-rotate {
						from {
							transform: rotateZ(0) translateX($ellipse) rotateZ(0) rotateY(0);
						}
						to {
							transform: rotateZ(360deg) translateX($ellipse) rotateZ(-360deg) rotateY(0);
						}
					}

					//global border style
					&-f {
						border: 1px solid rgba($dark-gray, .2);
						z-index: 3;
					}
					&-s {
						border: 1px solid rgba($dark-gray, .3);
						z-index: 2;
					}
					&-t {
						border: 1px solid rgba($dark-gray, .65);
						z-index: 1;
					}

				}
			}

			&-text {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				width: rem-calc(240);
				height: rem-calc(240);
				z-index: 3;
			}

			&:first-child {
				.one-text {
					color: $white;
					background-color: rgba($theme-light, .6);
					span {
						display: block;
						width: 100%;
						text-align: center;
						font-size: rem-calc(25);
						line-height: 1.3;
						span {
							display: inline;
							font-size: rem-calc(45);
						}
					}
				}
				.one-back {
					&-image {
						animation: shake 8s linear infinite;
					}
					.line-f {
						animation: alternate line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(10px);
						}
					}
					.line-s {
						animation: line-rotate cubic-bezier(0.28, 0.49, 0.61, 0.76) infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(-15px) translateX(-10px);
						}
					}
					.line-t {
						animation: line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateX(10px);
						}
					}
				}
			}
			&:nth-child(2) {
				.one-text {
					background-color: rgba($theme-violet, .4);
					span {
						display: block;
						width: 100%;
						font-size: rem-calc(25);
						text-align: center;
						line-height: 2.3;
						span {
							display: inline;
							font-size: rem-calc(100);
							line-height: 0;
							vertical-align: unset;
						}
					}
				}
				.one-back {
					&-image {
						animation: alternate shake 8s linear infinite;
					}
					.line-f {
						animation: alternate line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateX(5px);
						}
					}
					.line-s {
						animation: line-rotate cubic-bezier(0.28, 0.49, 0.61, 0.76) infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(14px);
						}
					}
					.line-t {
						animation: alternate line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(-12px) translateX(-17px);
						}
					}
				}
			}
			&:nth-child(3) {
				.one-text {
					background-color: rgba($theme, .4);
					span {
						display: block;
						width: 100%;
						font-size: rem-calc(26);
						text-align: center;
						line-height: 1.4;
						span {
							display: inline;
							font-size: rem-calc(100);
							line-height: .2;
						}
					}
				}
				.one-back {
					&-image {
						animation: shake 8s linear infinite;
					}
					.line-f {
						animation: line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(4px);
						}
					}
					.line-s {
						animation: alternate line-rotate cubic-bezier(0.28, 0.49, 0.61, 0.76) infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateY(-10px) translateX(-5px);
						}
					}
					.line-t {
						animation: alternate line-rotate linear infinite;
						@supports (-ms-ime-align:auto) {
							animation: none !important;
							transform: translateX(14px);
						}
					}
				}
			}

		}
	}
}