@font-face {
  font-family: "icons";
  src: url('../../fonts/icons.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/icons.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/icons.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/icons.svg#icons') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


.icon {
  font-family:"icons";
  display:inline-block;
  vertical-align:middle;
  line-height: 1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.icon-Forma-1:before {
  content:"\EA01";
}

.icon-checked:before {
  content:"\EA02";
}

.icon-clip:before {
  content:"\EA03";
}

.icon-svg-03:before {
  content:"\EA04";
}

.icon-svg-04:before {
  content:"\EA05";
}

.icon-svg-05:before {
  content:"\EA06";
}

.icon-svgg01:before {
  content:"\EA07";
}

.icon-svgg03:before {
  content:"\EA08";
}

.icon-svgg04:before {
  content:"\EA09";
}

.icon-user:before {
  content:"\EA0A";
}

.icon-kk-02:before {
  content:"\EA0B";
}

.icon-iconmonstr-new-2:before {
  content:"\EA0C";
}

.icon-quality:before {
  content:"\EA0D";
}

.icon-tag:before {
  content:"\EA0E";
}

.icon-padlock:before {
  content:"\EA0F";
}

.icon-pointer:before {
  content:"\EA10";
}

.icon-right-arrow:before {
  content:"\EA11";
}

.icon-star:before {
  content:"\EA12";
}

.icon-kk-01:before {
  content:"\EA13";
}

.icon-svg-01:before {
  content:"\EA14";
}

.icon-kk-03:before {
  content:"\EA15";
}

.icon-minus:before {
  content:"\EA16";
}

.icon-plus:before {
  content:"\EA17";
}

.icon-svg-02:before {
  content:"\EA18";
}

.icon-tel:before {
  content:"\EA19";
}

.icon-check:before {
  content:"\EA1A";
}

.icon-person1:before {
  content:"\EA1B";
}

.icon-person2:before {
  content:"\EA1C";
}


